
.col-xs-2{
    background:#00f;
    color:#FFF;
}
.col-half-offset{
    margin-left:4.166666667%
}


img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 120px;
  }

